/*main  setup*/
body{
  background: #f5eac9;
}

.App {
  text-align: center;
}

.App-header {
    background-image: url(dino.gif);
    background-size: 1500px; 
    height: 600px;
    width: 1500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*navigation*/
.navbar {
  overflow: hidden;
  background-color: #b8a99c;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 6px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color:#7d7c70;
  color: white;
}

.content h2 {
    position: top;
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.fossilgal{
    padding-top: 50px;
    border-radius: 5px;
}
.contact{
    padding-top: 50px;
}

Home{
    padding-bottom: 4px;
}

img{
    padding-right: 20px;
    padding-bottom: 20px;
}
span{
    padding-left: 0px;
    padding-bottom: 10px;
}